@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: 'bebas-neue';
    src: url('./fonts/BebasNeueRegular.woff') format('woff');
}
@font-face {
    font-family: 'bebas-neue';
    src: url('./fonts/BebasNeueBold.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'cuyabra';
    src: url('./fonts/cuyabra.woff') format('woff');
}
@font-face {
    font-family: 'socialico';
    src: url('./fonts/Socialico.ttf') format('truetype');
}

body, html{
    width: 100%;
    height: 100%;
    min-height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'cuyabra', sans-serif;
}

.global-container{
    padding-top: 55px;
}

/* APP TOLLBAR STYLES */
.app-toolbar-fitmas{
    font-family: bebas-neue, sans-serif;
    -webkit-transition: height 0.5s, background-color 0.5s; /* Safari */
    transition: height 0.5s, background-color 0.5s;
    background: -moz-linear-gradient(45deg, rgba(242,39,0,1) 0%, rgba(255,42,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(242,39,0,1)), color-stop(100%, rgba(255,42,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(242,39,0,1) 0%, rgba(255,42,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(242,39,0,1) 0%, rgba(255,42,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(242,39,0,1) 0%, rgba(255,42,0,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(242,39,0,1) 0%, rgba(255,42,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2a00', endColorstr='#f22700',GradientType=1 ); /* ie6-9 */background: -moz-linear-gradient(45deg, rgba(242,39,0,1) 0%, rgba(255,42,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(242,39,0,1)), color-stop(100%, rgba(255,42,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(242,39,0,1) 0%, rgba(255,42,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(242,39,0,1) 0%, rgba(255,42,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(242,39,0,1) 0%, rgba(255,42,0,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(242,39,0,1) 0%, rgba(255,42,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2a00', endColorstr='#f22700',GradientType=1 ); /* ie6-9 */
}

.app-toolbar-lipoblue{
    font-family: bebas-neue, sans-serif;
    background: -moz-linear-gradient(335deg, rgba(117,30,84,1) 0%, rgba(117,30,84,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(117,30,84,1)), color-stop(100%, rgba(117,30,84,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(335deg, rgba(117,30,84,1) 0%, rgba(117,30,84,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(335deg, rgba(117,30,84,1) 0%, rgba(117,30,84,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(335deg, rgba(117,30,84,1) 0%, rgba(117,30,84,1) 100%); /* ie10+ */
    background: linear-gradient(115deg, rgba(117,30,84,1) 0%, rgba(117,30,84,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#751e54', endColorstr='#751e54',GradientType=1 ); /* ie6-9 */
    -webkit-transition: height 0.5s, background-color 0.5s; /* Safari */
    transition: height 0.5s, background-color 0.5s;
}

.container{
    width: 100%;
    margin: 0 auto;
}
.carousel-indicators{
    z-index: 9;
}
.page-logo{
    height: 100%;
    padding: 5px 0;
    margin-left: 48%;
}
.main-menu{
    height: 100%;
    width: 100%;
    text-align: center;
}
.main-menu a.menu-link,
.main-menu a.menu-link-padding{
    display: block;
    float: left;
    width: 100px;
    height: 100%;
    vertical-align: middle;
    text-decoration: none;
}
.main-menu a.menu-link.active,
.main-menu a.menu-link-padding.active{
    color: white;
}
.main-menu a.menu-link,
.main-menu a.menu-link-padding{
    transition: color 0.3s, background 0.3s;
    font-size: 20px;
}
.main-menu a.menu-link.fitmas,
.main-menu a.menu-link-padding.fitmas{
    color: #8a2a17;
}
.main-menu a.menu-link.lipoblue,
.main-menu a.menu-link-padding.lipoblue{
    color: #490147;
}
.main-menu a.menu-link:hover,
.main-menu a.menu-link-padding:hover{
    background: rgba(255,255,255,0.1);
    color: white;
}
.main-menu a.menu-link span{
    display: block;
    padding: 14px 0;
    transition: padding 0.3s;
}
.main-menu a.menu-link-padding span{
    display: block;
    transition: padding 0.3s;
    padding: 20.5px 0;
}

.user-menu{
    height: 100%;
}
.user-menu .menu-link-basket{
    display: block;
    float: left;
    height: 100%;
    vertical-align: middle;
    font-size: 20px;
    text-decoration: none;
}
.user-menu .menu-link-basket.fitmas{
    color: #8a2a17;
}
.user-menu .menu-link-basket.lipoblue{
    color: #490147;
}
.user-menu .menu-link-basket:hover{
    background: rgba(255,255,255,0.1);
    color: white;
}
.user-menu .menu-link-basket div.basket-nopadding{
    padding: 13px 0;
    transition: padding 0.3s, color 0.3s;
}
.user-menu .menu-link-basket div.basket-padding{
    padding: 18.5px 0;
    transition: padding 0.3s, color 0.3s;
}

.profile-menu{
    float: left;
}
.icon-profile-menu{
    padding: 4px 0;
    transition: padding 0.3s;
    position: absolute;
    left: 78%;
}
.icon-profile-menu-padding{
    padding: 10.5px 0;
    transition: padding 0.3s;
    left: 78%;
}
.profile-menu{
    height: 100%;
}
.signup-menu{
    height: 100%;
    width: 260px;
}
.signup-menu .menu-link,
.signup-menu .menu-link-padding{
    height: 100%;
    max-width: 140px;
    float: left;
    text-align: center;
    display: block;
    padding: 0 20px;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s, background 0.3s;
}
.signup-menu .menu-link.lipoblue,
.signup-menu .menu-link-padding.lipoblue{
    color: #490147;
}
.signup-menu .menu-link.fitmas,
.signup-menu .menu-link-padding.fitmas{
    color: #8a2a17;
}
.signup-menu .menu-link:hover,
.signup-menu .menu-link-padding:hover{
    height: 100%;
    display: block;
    color: white;
    background: rgba(255,255,255,0.1);
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}
.signup-menu .menu-link span{
    transition: padding 0.3s;
    padding: 14.5px 0;
    display: block;
}
.signup-menu .menu-link-padding span{
    transition: padding 0.3s;
    padding: 21px 0;
    display: block;
}
.login-front-container{
    padding-top: 50px;
    background: url("/images/fitmas/aboutInfoBackground.jpg");
    background-size: cover;
}
.login-front-container form{
    position: relative;
    width: 380px;
    margin: 4em auto;
    padding: 3em 2em 2em;
    background: rgba(250, 250, 250, 0.5);
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14902), 0 1px 2px 0 rgba(0,0,0,.09804);
}
.login-front-container form h1{
    text-align: center;
}
#page{
    height: 100%;
}
.articles-carousel{
    width: 100%;
}

.article-carousel-item{
    padding: 15px;
}
.article-carousel-item figure{
    padding: 0 25px;
}
.article-carousel-item figure img{
    width: 100%;
}
.article-carousel-item h5{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.article-carousel-item p{
    font-size: 16px;
    text-align: center;
}
.home-app{
    width: 100%;
    display: inline-block;
}

.home-app .text{
    float: left;
    width: 45%;
    margin-top: 150px;
    text-align: center;
    font-size: 18px;
}
.home-app .text h3{
    font-size: 25px;
    font-weight: bold;
}
.home-app .text p{
    padding: 0 15px;
}
.home-app .image{
    width: 40%;
    float: left;
    margin-left: 40px;
}
.home-app .image figure{}
.home-app .image figure img{
    width: 100%;
}

.about-section{
    width: 100%;
    display: inline-block;
}

.about-section .text{
    float: left;
    width: 45%;
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
}
.about-section .text h3{
    font-family: bebas-neue, sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.about-section .text p{
    padding: 0 15px;
}
.about-section .text strong{
    font-family: bebas-neue, sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.about-section .image{
    width: 40%;
    float: left;
    margin-left: 40px;
}
.about-section .image figure{}
.about-section .image figure img{
    width: 100%;
}

.about-section1{
    width: 100%;
    display: inline-block;
    background: url('/images/fitmas/aboutInfoBackground.jpg');
    background-size: cover;
    background-position-y: -131px;
}
.about-section1 .left{
    width: 45%;
    float: left;
    margin-top: 3%;
}
.about-section1 .left ul{
    margin-left: 24%;
}
.about-section1 .left h3{
    font-family: bebas-neue, sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
.about-section1 .right{
    width: 45%;
    float: left;
    margin-top: 6%;
    font-family: bebas-neue, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #ff2a00;
}
.about-section2{
    width: 100%;
    height: 273px;
    display: inline-block;
    background: url('/images/lipoblue/aboutInfo2.jpg');
    background-size: cover;
    background-position-y: -131px;
}
.about-section2 .left{
    width: 50%;
    color: #FFFFFF;
    padding-left: 10%;
    text-align: center;
    font-family: bebas-neue, sans-serif;
}
.about-section2 .left h3{
    font-size: 28px;
    font-weight: bold;
}
.about-section2 .left figure{
    width: 50%;
    margin: 0 auto;
}
.about-section2 .left figure img{
    width: 100%;
}
.about-section3{
    width: 100%;
    padding: 25px 0;
    display: inline-block;
    background-size: cover;
    background-position-y: -131px;
    font-family: bebas-neue, sans-serif;
}
.about-section3 .left{
    float: left;
    width: 45%;
    padding-left: 10%;
}
.about-section3 .left ul{
    padding-left: 13px;
}
.about-section3 .left ul li{
    font-size: 20px;
}
.about-section3 .left h3{
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
}
.about-section3 .right{
    float: left;
    width: 45%;
    text-align: center;
    padding: 30px 0;
}
.about-section3 .right .quote{
    color: #848487;
    font-size: 25px;
    font-weight: bold;
}
.about-section3 .right .big-text{
    color: #751e54;
    font-size: 25px;
    font-weight: bold;
}

.footer{
    background-color: #53263a;
}
.footer .footer-block h4{
    color: #FFF;
    text-transform: uppercase;
    font-size: 18px;
}
ul.footer-list{
    margin: 0;
    padding: 0;
}
.footer-list li{
    list-style: none;
}
.footer-list.fitmas li a{
    text-decoration: none;
    color: #777777;
}
.footer-list.lipoblue li a{
    color: #FFFFFF;
    text-decoration: none;
}
.footer-list li a:hover{
    color: #fd945a;
}
.subfooter.fitmas{
    color: #777777;
}
.subfooter.lipoblue{
    color: #FFFFFF;
}
.social-icons a{
    margin-left: 5px;
}

.product-media{
    max-height: 500px;
}
.product-image-features{
    width: 90%;
    margin: 0 auto;
}
.product-features .product-head{
    width: 100%;
    display: inline-block;
}
.product-features .product-head h1{
    width: 45%;
    padding-top: 56px;
    margin-bottom: 0;
    float: left;
    font-family: bebas-neue, sans-serif;
}
.product-features .product-head .basket{
    width: 46%;
    height: 100px;
    float: left;
    font-family: bebas-neue, sans-serif;
    padding: 10px;
    background: #dcddde;
    border-radius: 15px;
}
.basket button{
    position: relative;
    top: 35px;
}
.product-features .product-head .basket .product-quantity{
    float: left;
}
.product-features .product-head .basket strong{
    position: relative;
    left: 25px;
    font-size: 30px;
    font-weight: bold;
}
.product-features h1{
    font-weight: bold;
    margin: 0 0 20px 0;
}
.product-features .product-description{
    margin-top: 25px;
}
.product-features ul{
    padding: 0;
}
.product-features ul li{
    list-style: none;
    font-size: 20px;
}
.product-features ul li span{
    padding: 0 0 0 10px;
    position: relative;
    top: -5px;
}
.product-conditions{
    width: 84%;
    margin: 0 auto;
    padding-left: 14%;
}
.product-conditions ul{
    padding: 0;
}
.product-conditions ul li{
    list-style-type: decimal;
    font-size: 12px;
}
.product-better-pack{
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}
.other-products-also-like{
    width: 80%;
    margin: 0 auto;
    padding-top: 35px;
    margin-bottom: 40px;
}
.other-products-also-like h2{
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
    font-weight: bold;
}
.other-products-also-like figure{
    text-align: center;
}
.other-products-also-like h4{
    text-align: center;
    font-size: 20px;
}
.page-home,.page-contact{
    margin-bottom: 70px;
}

.products-page{
    width: 80%;
    margin: 0 auto;
    padding-top: 120px;
    margin-bottom: 70px;
}
.products-sales{
    text-align: center;
}
.products-sales .sale{
    text-align: center;
}
.products-sales .sale img{
    width: 100%;
}
.products-packs{
    margin-top: 25px;
}
.products-packs .pack{
    text-align: center;
}
.products-packs .pack img{
    width: 100%;
}
.products-grid{
    padding-top: 35px;
    margin-bottom: 40px;
    font-family: 'cuyabra', sans-serif;
    min-height: 350px;
}
.products-grid h1{
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
    font-weight: bold;
}
.products-grid figure{
    text-align: center;
}
.product-item-buttons{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
a.product-link{
    display: block;
    height: 30px;
    color: white;
    font-family: cuyabra, sans-serif;
    width: 40%;
    margin: 0 auto;
    text-decoration: none;
    padding-top: 6px;
    transition: color 0.3s, background 0.3s;
}
a.product-link.fitmas{
    background-color: #89286d;
}
a.product-link.lipoblue{
    background-color: #ff006e;
}
a.product-link:hover{
    color: #dcddde;
    background-color: #777777;
}
.products-grid h4{
    text-align: center;
    font-size: 25px;
    font-family: 'bebas-neue', sans-serif;
    font-weight: bold;
    color: #414042;
}
.products-grid p{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
}
.products-grid h5{
    text-align: center;
    font-size: 20px;
    font-family: 'bebas-neue', sans-serif;
    font-weight: bold;
    color: #a2a4a6;
}
.products-grid{
    width: 80%;
    margin: 0 auto;
}
.products-grid .product-image img{
    height: 300px;
}
.blog-grid{
    width: 80%;
    height: 100%;
    padding-top: 90px;
    margin: 0 auto 25px;
    min-height: 600px;
}
.blog-grid h1{
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}

.page-contact{
    width: 100%;
    display: inline-block;
    padding-top: 100px;
}
.page-contact .left{
    width: 45%;
    float: left;
    padding-left: 130px;
}
.page-contact .left h1{
    font-weight: bold;
}
.page-contact .right{
    width: 45%;
    float: left;
    padding-left: 30px;
}
.page-contact .right h2{
    font-weight:bold;
}

.page-basket{
    width: 80%;
    margin: 0 auto;
}
.page-basket h1{
    text-align: center;
    margin-top: 100px;
}
.page-payment{
    width: 80%;
    margin: 0 auto 70px;
}
.page-payment h1{
    text-align: center;
    margin-top: 100px;
}

.loading-section{
    position: relative;
    text-align: center;
    z-index: 9;
    background: rgba(0,0,0,0.2);
    transition: display 0.5s;
}
.loading-section.show{
    display: block;
}
.loading-section.hidden{
    display: none;
}
.article-page{
    width: 90%;
    margin: 0 auto;
}
.article-page figure{
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow: hidden;
    text-align: center;
}
.article-page figure img{
    width: 100%;
}

.section-loading{
    position: relative;
    top: -25px;
    opacity: 0;
    transition: opacity 0.5s, top 0.5s;
}
.section-loaded{
    position: relative;
    top: 0;
    opacity: 1;
    transition: opacity 1s, top 1s;
}
.menu-item-animated-background{
    transition: background 0.5s;
}
.menu-item-animated-background:hover{
    background: rgba(0,0,0,0.2);
}