.login-container{
    margin-top: 100px;
}
.login-container form{
    position: relative;
    width: 380px;
    margin: 4em auto;
    padding: 3em 2em 2em;
    background: rgba(250, 250, 250, 0.5);
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14902), 0 1px 2px 0 rgba(0,0,0,.09804);
}
.login-container form h1{
    text-align: center;
}
#page{
    height: 100%;
}