.admin-page{
    margin-left: 256px;
}

.admin-page h1{
    margin-left: 10px;
}

.admin-page form{
    padding: 30px;
}

td{
    text-transform: capitalize;
}
.image-upload > div > div > div > div > div > div{
    width: 30%;
    float: left;
}
.image-upload img{
    width: auto;
    height: 200px;
}
.image-upload > div > div > div{
    width: 100%;
    float: left;
}